<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDTallerMecanicoEntities" connectionString="metadata=res://*/TallerMecanico.csdl|res://*/TallerMecanico.ssdl|res://*/TallerMecanico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=BDTallerMecanico;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDTallerMecanicoEntities1" connectionString="metadata=res://*/TallerMecanico.csdl|res://*/TallerMecanico.ssdl|res://*/TallerMecanico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=BDTallerMecanico;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>